:root {
  --background-color: hsl(148, 38%, 91%);
  --primary-color: hsl(169, 82%, 27%);
  --border-color: 1px solid grey;
}

* {
  box-sizing: border-box;
}
/*body background styling*/
body {
  background-color: var(--background-color);
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
.content {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

/*Content*/
.content-container {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
}
h2 {
  padding: 10px 0px;
}

input,
#message {
  border-radius: 5px;
  border: var(--border-color);
  padding: 10px;
}

input,
#message {
  transition: 0.3s ease-in;
}
input:hover,
#message:hover,
.radio-button:hover {
  border: 2px solid var(--primary-color);
}
.label {
  display: inline-block;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 5px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.col {
  display: grid;
  grid-template-rows: 1fr;
}
/*Submit Button*/
#button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

#button:hover {
  background-color: var(--background-color);
  color: black;
  cursor: pointer;
}

/*Radio buttons*/
.radio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: center;
  border: var(--border-color);
  border-radius: 5px;
  padding: 5px;
}

.radio-input {
  margin-right: 10px;
}
.radio-input:hover,
#consent:hover {
  cursor: pointer;
}

.radio-button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 5px 10px;
  border: var(--border-color);
  border-radius: 5px;
  justify-items: start;
}
/*Checkbox*/
.checkbox-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

/*Media for small screens 375pixels*/
@media (max-width: 375px) {
  .row {
    grid-template-columns: 1fr;
  }

  #alert .email-row,
  #alert .enquiry-row,
  #alert .message-row,
  #alert .consent-row {
    flex-direction: column;
    align-items: center;
  }
  #alert {
    max-width: 100px;
  }
}

/*FontType*/

@font-face {
  font-family: "Karla";
  src: url("fonts/Karla-Regular.ttf") format("truetype");
}

/*Custom Alert*/
#alert {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(48, 50, 48, 0.87);
  color: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 400px;
  width: 50%;
}
#alert .message {
  font-weight: bold;
}

.close-button {
  display: flex;
  justify-content: center;
}

#alert button {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
#alert .messageresult {
  font-weight: bold;
}
#alert .email-row,
#alert .enquiry-row,
#alert .message-row,
#alert .consent-row {
  display: flex;
  align-items: center;
}
#alert p {
  margin-right: 10px;
}
